@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/PTSans-Narrow.woff2") format("woff2"), url("../../fonts/PTSans-Narrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans-Bold";
  src: url("../../fonts/PTSans-NarrowBold.woff2") format("woff2"), url("../../fonts/PTSans-NarrowBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
