@import "../variables.scss";

.form {
  width: 87.5%;
  padding: 0 6.25%;
  padding-bottom: 60px;
  color: #000000;
  background: #f8f5f2 url("../../img/triangle-black.svg") no-repeat bottom / 105%;
}

.form__title {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}

.form__link {
  display: none;
}

.form__btn {
  display: block;
  width: 280px;
  height: 57px;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #826550;
  border: none;
  cursor: pointer;
}

@media#{$tablet-width} {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 84%;
    padding: 35px 8%;
    padding-bottom: 70px;
    background: #f8f5f2;
  }

  .form__inner {
    flex-grow: 1;
    width: 100%;
  }

  .form__title {
    padding-top: 0;
    padding-bottom: 35px;
    font-size: 32px;
  }

  .form__link {
    display: block;
    height: 20px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid #e5ddd5;
  }

  .form__link:hover {
    border-color: #d5cabe;
  }

  .form__link:active {
    background-color: #d5c9bd;
  }

  .form__btn {
    width: 100%;
  }

  .form__btn:hover {
    background-color: #6a4d38;
  }

  .form__btn:active {
    color: #a09187;
  }
}

@media #{$desktop-width} {
  .form {
    width: auto;
    padding: 0 120px;
    padding-top: 60px;
    padding-bottom: 85px;
  }
}