@import '../variables.scss';
.photos {
  width: 87.5%;
  padding: 0 6.25%;
  padding-bottom: 35px;
  color: #000000;
  background: #f8f5f2 url("../../img/triangle-grey.svg") no-repeat bottom / 105%;
}

.photos__item {
  margin-bottom: 20px;
  outline: 1px solid #e5ddd5;
}

.photos__item--first::after {
  content: "Работа месяца";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 600px;
  width: 176px;
  height: 38px;
  padding-top: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background: url("../../img/label.png") no-repeat;
}

.photos__item-wrapper {
  width: auto;
  padding: 0 20px;
}

.photos__item--first {
  .photos__photo-wrapper {
    height: auto;
  }
  .photos__photo {
    margin-left: -200px;
  }
}

.photos__title {
  padding: 20px 0;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}

.photos__photo-wrapper {
  width: 280px;
  height: 177px;
  margin: 0 auto;
  overflow: hidden;
}

.photos__photo-title {
  margin: 10px 0;
  font-size: 26px;
}

.photos__text {
  font-size: 20px;
  line-height: 28px;
}

.photos__services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  text-transform: uppercase;
}

.photos__service::before {
  content: "";
  width: 40px;
  height: 20px;
  background-image: url("../../img/icons-photo.png");
  background-repeat: no-repeat;
}

.photos__service {
  display: flex;
  width: 100px;
  margin-bottom: 20px;
  margin-right: 20px;
  &--scissors::before {
    background-position: 11% bottom;
  }
  &--mustache::before {
    margin-right: 15px;
    background-position: 11% center;
  }
}

.photos__service:last-child {
  flex-grow: 1;
}

.photos__link {
  display: none;
}

@media #{$tablet-width} {
  .photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 84%;
    padding: 35px 8%;
    padding-bottom: 105px;
  }

  .photos__title {
    padding-top: 0;
    padding-bottom: 35px;
    font-size: 34px;
  }

  .photos__link {
    display: block;
    height: 20px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid #e5ddd5;
  }

  .photos__link:hover {
    border-color: #d5cabe;
  }

  .photos__link:active {
    background-color: #d5c9bd;
  }

  .photos__item {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
  }

  .photos__item--first::after {
    top: 420px;
  }

  .photos__photo-wrapper {
    height: auto;
    margin: 0;
    margin-bottom: -5px;
  }

  .photos__item-wrapper {
    width: 45%;
    margin-top: 50px;
    margin-left: 8%;
    padding: 0;
  }

  .photos__description {
    width: auto;
  }
}

@media #{$desktop-width} {
  .photos {
    padding-top: 60px;
    padding-bottom: 50px;
    background: #f8f5f2;
  }

  .photos__item {
    width: 294px;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .photos__item--first {
    width: 100%;
    .photos__photo-wrapper {
      width: 480px;
      height: 480px;
    }
    .photos__item-wrapper {
      width: 31%;
      margin-left: 4%;
      margin-top: 125px;
    }
    .photos__photo {
      margin-left: 0;
    }
  }

  .photos__item--first::after {
    top: 550px;
    right: 95px;
    background: url("../../img/label-big.png") no-repeat;
  }

  .photos__photo-wrapper {
    width: 100%;
  }

  .photos__item-wrapper {
    width: 100%;
    margin-top: 0;
  }
}