@import '../variables.scss';
.price {
  width: 87.5%;
  padding: 0 6.25%;
  padding-bottom: 45px;
  color: #ffffff;
  background: #353535 url("../../img/triangle-black.svg") no-repeat bottom / 105%;
}

.price__title {
  padding: 20px 0;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}

.price__list {
  width: 100%;
  margin-bottom: 20px;
}

.price__row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.price__cell--mobile-hidden {
  display: none;
}

.price__discount {
  padding: 20px 0;
  padding-left: 40%;
  font-size: 20px;
  background-image: url("../../img/clock.svg");
  background-repeat: no-repeat;
  background-position: 7% center;
  background-size: 60px 60px;
  border: 1px solid #484848;
}

@media #{$tablet-width} {
  .price__mobile-only {
    display: none;
  }

  .price__cell--mobile-hidden {
    display: table-cell;
  }

  .price {
    width: 84%;
    padding: 35px 8%;
    padding-bottom: 50px;
    background: #353535;
  }

  .price__title {
    font-size: 32px;
    text-align: left;
  }

  .price__list {
    margin-bottom: 10px;
    border: 1px solid #4a4a4a;
  }

  .price__row {
    width: 100%;
    padding: 0;
    justify-content: flex-end;
    border-bottom: 1px solid #4a4a4a;
  }

  .price__row:last-child {
    border: none;
  }

  .price__cell {
    padding: 3%;
    border-right: 1px solid #4a4a4a;
    font-size: 18px;
  }

  .price__cell:first-child {
    width: 5%;
    color: #868686;
    text-align: center;
  }

  .price__cell:nth-child(2) {
    width: 32%;
  }

  .price__cell:nth-child(3),
  .price__cell:nth-child(4) {
    width: 19.7%;
  }

  .price__cell:last-child {
    border: none;
  }

  .price__discount {
    padding-left: 28%;
    font-size: 30px;
    font-weight: bold;
    background-size: 70px 70px;
  }
}

@media #{$desktop-width} {
  .price {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .price__title {
    width: 100%;
  }

  .price__list {
    width: 630px;
    margin-bottom: 0;
  }

  .price__discount {
    width: 130px;
    margin-left: 60px;
    padding: 25px 70px;
    padding-top: 200px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    background-size: 145px 145px;
    background-position: center 30px;
  }
}