@import '../variables.scss';
.reviews {
  padding: 35px 0;
  color: black;
  background: #f8f5f2 url("../../img/triangle-black.svg") no-repeat bottom / 110%;
  border-top: 1px solid #e5ddd5;
}

.reviews__wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

.reviews__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}

.reviews__list {
  width: 300%;
}

.reviews__item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.reviews__text-field {
  margin-top: -10px;
  margin-left: 20px;
}

.reviews__author-name {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
}

.reviews__text {
  margin-top: 15px;
}

.reviews__btns {
  display: flex;
  justify-content: space-between;
  width: 50px;
  margin: 0 auto;
}

.reviews__next,
.reviews__prev {
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  cursor: pointer;
}

.reviews__prev {
  border-right: 10px solid #000000;
}

.reviews__next {
  border-left: 10px solid #000000;
}

.reviews__user-post,
.reviews__hidden-text {
  display: none;
}

@media #{$tablet-width} {
  .reviews {
    padding: 35px 7.8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f8f5f2;
  }

  .reviews__wrapper {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #e5ddd5;
  }

  .reviews__title {
    order: -2;
    padding-bottom: 35px;
    font-size: 32px;
  }

  .reviews__user-post {
    display: inline-block;
    order: -1;
    height: 20px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid #e5ddd5;
  }

  .reviews__user-post:hover {
    border-color: #d5cabe;
  }

  .reviews__user-post:active {
    background-color: #d5c9bd;
  }

  .reviews__item {
    width: 26%;
    margin: 0 auto;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .reviews__next,
  .reviews__prev {
    position: absolute;
    display: inline-block;
    z-index: 100;
    bottom: 390px;
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    cursor: pointer;
  }

  .reviews__prev {
    left: 9%;
    border-right: 10px solid #000000;
  }

  .reviews__next {
    right: 9%;
    border-left: 10px solid #000000;
  }
}

@media #{$desktop-width} {
  .reviews__item {
    padding: 0;
    align-items: center;
  }

  .reviews__author-picture {
    margin-bottom: -5px;
  }

  .reviews__text-field {
    margin-top: 0;
  }

  .reviews__next,
  .reviews__prev {
    top: 1790px;
  }
}