@import '../variables.scss';
.social {
  width: 320px;
  margin: 0 auto;
  padding-top: 20px;
}

.social__title {
  display: none;
}

.social__text {
  display: none;
}

.social__list {
  display: flex;
}

.social__link {
  display: block;
  width: 104px;
  height: 106px;
  border: 1px solid #3e3e3e;

  &--vk {
    background: url("../../img/icon-vk.svg") no-repeat center;
  }

  &--fb {
    background: url("../../img/icon-fb.svg") no-repeat center;
  }

  &--instagram {
    background: url("../../img/icon-instagram.svg") no-repeat center;
  }
}

@media #{$tablet-width} {
  .social {
    order: 2;
    width: 100%;
  }

  .social__list {
    justify-content: space-between;
    margin: 0 auto;
  }

  .social__item {
    width: 33.333%;
  }

  .social__link {
    width: 100%;
  }

  .social__link:hover {
    filter: brightness(50%);
  }
}

@media #{$desktop-width} {
  .social {
    order: 0;
    width: 165px;
    margin: 0;
    margin-right: 204px;
    padding: 0;
    text-align: center;
  }

  .social__item {
    width: 50px;
    height: 50px;
  }

  .social__link {
    width: inherit;
    height: inherit;
    border: none;
  }

  .social__title {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}